<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="org.example.entity.goods.Goods"/>
        <mapping class="org.example.entity.Order"/>
        <mapping class="org.example.entity.users.User"/>
        <mapping class="org.example.entity.users.Customer"/>
        <mapping class="org.example.entity.users.Manager"/>
        <mapping class="org.example.entity.goods.BoardGames"/>
        <mapping class="org.example.entity.goods.Accessories"/>
        <mapping class="org.example.entity.Producer"/>
        <mapping class="org.example.entity.Cart"/>
        <mapping class="org.example.entity.CartGoods"/>

    </session-factory>
</hibernate-configuration>