<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accessory</title>
</head>
<body>
<form th:action="@{/accessories/{accessoryId}/update(accessoryId=${accessory.id})}" method="post">
    <label for="name">Name:
        <input id="name" type="text" name="name" th:value="${accessory.name}">
    </label><br>
    <label for="description">Description:
        <input id="description" type="text" name="description" th:value="${accessory.description}">
    </label><br>
    <label for="price">Price:
        <input id="price" type="text" name="price" th:value="${accessory.price}">
    </label><br>
    <label for="quantity">Quantity:
        <input id="quantity" type="text" name="quantity" th:value="${accessory.quantity}">
    </label><br>
    <div>
        <label for="producer">Producer:
            <select id="producer" name="producerId">
                <option th:each="producer : ${producers}"
                        th:value="${producer.getName()}"
                        th:selected="${producer.id == accessory.producer.id}"
                        th:text="${producer}">Producer</option>
            </select>
        </label>
    </div>
    <button type="submit">Update</button>
</form>
<form th:action="@{/accessories/{accessoryId}/delete(accessoryId=${accessory.id})}" method="post">
    <button type="submit">Remove position</button>
</form>
</body>
</html>