<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<form th:action="@{/boardGames/{boardGameId}/update(boardGameId=${boardGame.id})}" method="post">
    <label for="name">Name:
        <input id="name" type="text" name="name" th:value="${boardGame.name}">
    </label><br>
    <label for="description">Description:
        <input id="description" type="text" name="description" th:value="${boardGame.description}">
    </label><br>
    <label for="price">Price:
        <input id="price" type="text" name="price" th:value="${boardGame.price}">
    </label><br>
    <label for="contents">Contents:
        <input id="contents" type="text" name="contents" th:value="${boardGame.contents}">
    </label><br>
    <label for="quantity">Quantity:
        <input id="quantity" type="text" name="quantity" th:value="${boardGame.quantity}">
    </label><br>
    <div th:each="localization : ${localizations}">
        <input th:id="${localization}" type="radio" name="localization" th:value="${localization}" th:checked="${localization == boardGame.localization}">
        <label th:for="${localization}" th:text="${localization}">Language</label>
    </div>
    <div>
        <label for="theme">Theme:
            <select id="theme" name="theme">
                <option th:each="theme : ${themes}"
                        th:value="${theme.name()}"
                        th:selected="${theme == boardGame.getBoardGameTheme()}"
                        th:text="${theme}">Theme</option>
            </select>
        </label>
    </div>
    <button type="submit">Update</button>
</form>
<form th:action="@{/boardGames/{boardGameId}/delete(boardGameId=${boardGame.id})}" method="post">
    <button type="submit">Remove position</button>
</form>
</body>
</html>